.LoginView {
  background-color: white;
  width: 100%;
}

.LoginView-header {
  display: flex;
  align-items: center;
  height: 7rem;
  border-bottom: 1px solid lightgray;
}

.LoginView-logo {
  margin: 20px auto 0 auto;
  width: fit-content;
}
