.SelectorInput {
<<<<<<< HEAD
=======
  position: relative;
>>>>>>> 11ce64e (Squashing will's commit)
  display: flex;
  align-items: center;
  height: 4.5rem;
  border-radius: 1rem;
  border: 1px solid lightgray;
  padding: 1rem;
  cursor: pointer;
}

.SelectorInput-text {
  width: fit-content;
  font-size: 1.1rem;
}
.SelectorInput-noImage {
  justify-content: center;
}

.SelectorInput-withImage {
  justify-content: space-between;
}

<<<<<<< HEAD
=======
.SelectorInput-disabled {
  cursor: default;
}

.SelectorInput-disabled::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 1rem;
}

>>>>>>> 11ce64e (Squashing will's commit)
.SelectorInput-image {
  width: 3rem;
  object-fit: cover;
  border-radius: 0.3rem;
}

.SelectorInput-input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.SelectorInput-selected {
  border: 2px solid black;
  background: rgb(245, 245, 245);
}

.SelectorInput:hover {
  border: 2px solid black;
}
