.ParkItemBody {
  width: 100%;
  padding: 1rem;
}

.ParkItemBody-content {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  // margin: 0 auto 1rem auto;
}

.ParkItemBody-contentContainer {
  height: 7rem;
  width: 7rem;
  border: 1px solid lightgray;
}

.ParkItemBody-contentContainer:hover {
  cursor: pointer;
}
