.UserMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(90, 161, 206);
  color: white;
  width: fit-content;
  align-self: flex-end;
  padding: 0.7rem 1.5rem;
  border-radius: 0.25rem;
  max-width: 80%;
}
