.Text {
<<<<<<< HEAD
=======
  display: flex;
}

.Text-xSmall {
  font-size: 0.9rem;
>>>>>>> 11ce64e (Squashing will's commit)
}

.Text-small {
  font-size: 1rem;
}

.Text-medium {
  font-size: 1.5rem;
}

.Text-large {
  font-size: 2rem;
}
<<<<<<< HEAD
=======

.Text-bold {
  font-weight: bold;
}

.Text-flex {
  display: flex;
}

.Text-inline {
  display: inline;
}
>>>>>>> 11ce64e (Squashing will's commit)
