.ProfilePosts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2px;
  row-gap: 2px;
}

.ProfilePosts-postContainer {
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.ProfilePosts-postContainer:hover {
  cursor: pointer;
}
