.textInputField {
  display: flex;
  // background-color: rgba(0, 0, 0, 0.2);
  height: 3.5rem;
  border-radius: 0.5rem;
  padding: 1.3rem 0.8rem;
  font-size: 1rem;
  border: 1px solid gray;
  &:focus {
    outline: 1px solid black;
  }
  width: 100%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.TextInput-labelContent {
  position: absolute;
  left: 10px;
  top: 35%;
  color: gray;
  transition: 200ms ease-in;
}

.textInputField:focus ~ .TextInput-labelContent,
.textInputField:not(:placeholder-shown).textInputField:not(:focus)
  ~ .TextInput-labelContent {
  top: 0.3rem;
  font-size: 12px;
}

.textInputField::placeholder {
  margin-top: 50rem;
}
