.Navigation {
  background-color: white;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid lightgray;
}

.Navigation-container {
  max-width: 975px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.Navigation-logo {
  font-size: 1.25rem;
}

.Navigation-right {
  display: flex;
  align-items: center;
}

.Navigation-right > * {
  margin-left: 0.8rem;
}

// .Navigation-button {
//   flex: 1;
// }
