.ProfilePic {
  object-fit: cover;
  border-radius: 50%;
}

.ProfilePic-xSmall {
  width: 25px;
  height: 25px;
}

.ProfilePic-nav {
  width: 29px;
  height: 29px;
  // margin-top: -3px;
}

.ProfilePic-small {
  width: 35px;
  height: 35px;
}

.ProfilePic-medium {
  width: 55px;
  height: 55px;
}

.ProfilePic-large {
  width: 65px;
  height: 65px;
}
