.SignUpForm {
}

.SignUpForm-form {
  margin: 0 auto;
  width: 100%;
  max-width: 40rem;
  // border: 1px solid black;
  // background-color: rgba(0, 0, 0, 0.3);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.SignUpForm-inputContainer {
  position: relative;
  margin: 0.7rem 0;
}

.SignUpForm-TextInput {
  width: 100%;
}

.SignUpForm-link {
  margin-top: 20px;
  color: rgb(90, 161, 206);
  cursor: pointer;
}

.SignUpForm-Button-signup {
  margin-top: 1rem;
}

.SignUpForm-agreementText {
  margin-top: 1rem;
}
