.AnonHomeView {
  display: flex;
  align-items: center;
  padding: 1rem;
  flex-direction: column;
}

.AnonHomeView-welcome {
  margin-bottom: 3rem;
}

.AnonHomeView-paragraph {
  display: flex;
  justify-content: center;
  width: 75%;
  max-width: 35rem;
  margin-bottom: 1rem;
  text-align: center;
}
