@import "../../styles/index.scss";

.SkateparksApp {
  background: $GreyBG;
  display: flex;
  justify-content: center;
}

.SkateparksApp > * {
  width: 100%;
  display: flex;
  justify-content: center;
}
