.FileInput {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FileInput-input {
  display: none;
}

.FileInput-button {
  height: 2rem;
  font-size: 1rem;
}
