.Heading {
  // font-weight: bold;
}

.Heading-small {
  font-size: 1.5rem;
  margin: 0.6rem;
}

.Heading-medium {
  font-size: 2rem;
  margin: 1rem;
}

.Heading-large {
  font-size: 2.5rem;
  margin: 1.5rem;
}

.Heading-center {
  width: fit-content;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
