.mainCard {
  width: 100%;
  //   background-color: rgba(0, 0, 0, 0.75);
  text-align: left;
}

// Header

.header {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.headerLeft {
  display: flex;
}

.handleLocation {
  margin-left: 1rem;
}

.handle {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 0.1rem;
}

.location {
  font-size: 0.8rem;
}

.headerRight {
  font-size: 1.5rem;
}

// Content

.contentContainer {
  background-color: rgba(0, 0, 0, 0.75);
}

.cardBottom {
  padding: 0.7rem;
}

.cardBottom > * {
  margin-bottom: 6px;
}

.likeCount {
  font-size: 14px;
}
